.navbar-nav .nav-link {
    color: #fff;
  }
  .dropend .dropdown-toggle {
    color: blue;
    margin-left: 1em;
  }
  .dropdown-item:hover {
    background-color: #387da3;
    color: #fff;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu,
  .dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
  }
  @media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
    .dropend .dropdown-toggle {
        margin-left: 0.5em;
    }
  }
  #myCarousel img {
    height: 300px;
  }
  .image-container {
    background-color: blue; /* Modré pozadie */
    padding: 5px; /* Odsadenie obrázku od okraja */
  }
  /* Štýly pre kontajner produktov a bočného panelu */
  #content-container {
    display: flex;
  }
  .category {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .category:hover {
    background-color: #0056b3;
  }
  #sidebar-categories {
    width: 200px; /* Šírka kontajnera pre kategórie (prispôsobte podľa potreby) */
  padding: 20px;
  background-color: #f8f9fa; /* Farba pozadia (prispôsobte podľa potreby) */

  }
  .category-list {
    padding-right: 15px; /* Prispôsobte podľa potreby */
  }

  .products {
    flex: 1; /* Produkty zaberajú 2/3 šírky dostupného miesta */
    display: flex; /* Produkty zobrazovať vedľa seba */
    flex-wrap: wrap; /* Produkty sa zalamujú na ďalší riadok, ak nie sú miesto */
    justify-content: space-between; /* Produkty sú rovnomerne rozmiestnené */
  }

  .product {
    width: calc(33.33% - 20px); /* Každý produkt zaberá 1/3 šírky s 10px oddeľovačom */
    margin-bottom: 20px; /* Odstup medzi produktami */
  }
  @media screen and (max-width: 768px) {
    .product {
      width: calc(50% - 20px); /* Two items per row */
    }
  }
  
  /* Further adjustment for even smaller screens (adjust the breakpoint as needed) */
  @media screen and (max-width: 480px) {
    .product {
      width: 100%; /* One item per row */
    }
  }

  .product-image {
    width: 225px; /* Nastavte žiadanú šírku obrázka */
    height: 200px; /* Zachová pomer strán obrázka */
  }
  .category-list li {
    margin-bottom: 8px; /* oddeľovač medzi jednotlivými kategóriami */
  }
  .category-list {
    margin-right: 20px; /* pridá odsadenie medzi kategóriami a produktami */
  }
  
  .category-list h2 {
    font-size: 1.5rem;
    color: #333; /* čierna farba textu */
  }
  
  .category-list ul {
    list-style: none;
    padding: 0;
  }
  .category-list a {
    text-decoration: none;
    color: #007bff; /* modrá farba textu */
    font-weight: bold;
    transition: color 0.3s;
  }
  .category-list a:hover {
    color: #0056b3; /* tmavšia modrá farba textu pri najazdení myšou */
  }